# Basics of R

This notebook walks through the basics of R, all of which are described in the repository's readme file.

### Topics summary
<ol start="0">
    <li> Import dependencies </li>
    <li> Quadratic equations </li>
    <li> Sum of first <em> n </em> natural numbers </li>
    <li> Class (datatypes) of objects (variables) </li>
    <li> Work with sequences
        <ul>
            <li> Sequence through concatenation; casting; tables. </li>
            <li> Different ways of creating a vector </li>
            <li> Using `name`s in sequences </li>
        </ul>
    </li>
    <li> Remove NA's from a dataset </li>
    <li> Work with logicals </li>
    <li> 
        Work with conditionals 
        <ul> 
            <li> Using the `if-else` block </li>
            <li> Using the `ifelse (...)` function </li>
        </ul>
    </li>
    <li> User-defined functions </li>
    <li> The `for` loop </li>    
</ol>

## Import dependencies

In [1]:
library(dslabs)
data(na_example)

In [4]:
head(na_example)

[1] 2 1 3 2 1 3

## 1. Quadratic equations

In [15]:
# Initialize the coefficeints
a = 3
b = 5
c = 2

In [12]:
print("The quadratic equation is:")
paste(a, "x^2 + ", b, "x + ", c)

[1] "The quadratic equation is:"

[1] "3 x^2 +  5 x +  2"

In [14]:
# Solve for the roots, and print them
root1 = (-b + sqrt(b^2 - 4*a*c)) / (2*a)
root2 = (-b - sqrt(b^2 - 4*a*c)) / (2*a)

paste("Solutions:", root1, root2)

[1] "Solutions: -0.666666666666667 -1"

## 2. Sum of first <em>n</em> natural numbers

In [16]:
n <- 100 # NOTE: alternative assignment operator (<-)
sum = n*(n+1)/2
paste("Sum of first", n, "natural numbers:", sum)

[1] "Sum of first 100 natural numbers: 5050"

## 3. Class (datatypes) of objects (variables)

In [17]:
class(n) # returns the class of object n ("numeric" in this case)
class("this is a string")
class(5 == 3)

[1] "numeric"

[1] "character"

[1] "logical"

## 4. Work with sequences (vectors)

### Sequence through concatenation; casting; tables.

In [21]:
seq = c(1, 2, 3, 4) # creates a sequence (array) containing these values
seq 
class(seq)

[1] 1 2 3 4

[1] "numeric"

In [20]:
seq = c(1, "a", FALSE)
seq
class(seq) # character, as non-characters gets casted into characters

[1] "numeric"

[1] "1"     "a"     "FALSE"

[1] "character"

In [24]:
# Frequencies of characters in a sequence
my_landline = c(0,3,3,2,2,8,4,4,2,9,8)
table(my_landline) # prints the freqeuency of each entry in a sequence
seq = c('e','x','a','g','a','r','r','a','t','i','o','n')
table(seq)
class(seq)

my_landline
0 2 3 4 8 9
1 3 2 2 2 1

seq
a e g i n o r t x
3 1 1 1 1 1 2 1 1

[1] "character"

### Different ways of creating a vector

In [25]:
s1 = seq(1,10) # creates a sequence 1,2,3,...,10
s2 = 1:10 # does the same as above
s3 = c(1,2,3,4,5,6,7,8,9,10) # same as the above two
s1
s2
s3

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

In [26]:
paste("s1 == s2:", identical(s1,s2)) # TRUE as both are numeric sequences
paste("s2 == s3:", identical(s3,s2)) # FALSE as s3 is possible to contain character in it
paste("s3 == s1:", identical(s1,s3)) # FALSE, same reason

[1] "s1 == s2: TRUE"

[1] "s2 == s3: FALSE"

[1] "s3 == s1: FALSE"

In [27]:
s1 = seq(1,20,2) # sequence from 1 no more than 20 incrementing by 2 each time
s1

 [1]  1  3  5  7  9 11 13 15 17 19

In [31]:
s2 = seq(0, 100, length.out = 5)    # length of s2 should be 5 and it should evenly occupy elements 1 through 100, 
                                    # that is, elements should be incremented by the same amount
s2 # (0, 25, 50, 75, 100)

[1]   0  25  50  75 100

### Using `name`s in sequences

In [38]:
alter_egos = c("Batman", "Superman", "Wonder Woman")
personas = c("Bruce Wayne", "Clark Kent", "Diana Prince")
# assign persona names to alter egos, thus creating a table with personas as attributes and alter_egos as values
names(alter_egos) <- personas
alter_egos

   Bruce Wayne     Clark Kent   Diana Prince
      "Batman"     "Superman" "Wonder Woman"

In [37]:
# another way to do this is by assigning names=values while sequence creation itself
alter_egos_new = c("Steve Rogers" = "Captain America", "Tony Stark" = "Ironman", Wanda = "Scarlet Witch", Vision = "Vision")
print(alter_egos_new) # NOTE: the difference when you return a named sequence (above output), and when you print it (this output)

     Steve Rogers        Tony Stark             Wanda            Vision
"Captain America"         "Ironman"   "Scarlet Witch"          "Vision"

In [39]:
# access elements from the vector
paste("Second element:", alter_egos_new[2]) # Ironman (access one element)
paste("Elements one and three:", alter_egos_new[c(1,3)]) # Captain America, Scarlet Witch (grab two elements using multi-element vector)
print("Elements 2 through 4:")
alter_egos_new[2:4] # use sequence of nums to access the elements
print("Elements 1 through 3")
alter_egos_new[seq(1,3)]
paste("Bruce Wayne:", alter_egos["Bruce Wayne"]) # finally, access using names

[1] "Second element: Ironman"

[1] "Elements one and three: Captain America"
[2] "Elements one and three: Scarlet Witch"

[1] "Elements 2 through 4:"

     Tony Stark           Wanda          Vision
      "Ironman" "Scarlet Witch"        "Vision"

[1] "Elements 1 through 3"

     Steve Rogers        Tony Stark             Wanda
"Captain America"         "Ironman"   "Scarlet Witch"

[1] "Bruce Wayne: Batman"

## 5. Remove NA's from a dataset

In [40]:
print("First 50 entries before NA-cleaning")
print(na_example[1:50])

[1] "First 50 entries before NA-cleaning"
 [1]  2  1  3  2  1  3  1  4  3  2  2 NA  2  2  1  4 NA  1  1  2  1  2  2  1  2
[26]  5 NA  2  2  3  1  2  4  1  1  1  4  5  2  3  4  1  2  4  1  1  2  1  5 NA

In [43]:
# now perform the cleaning
na_index = is.na(na_example) # returns TRUE if NA present; FALSE otherwise
na_example_cleaned = na_example[!na_index] # values without NA's
print("First 50 entries after NA-cleaning")
print(na_example_cleaned[1:50]) # return the first 6 entries of those values that are not NA

[1] "First 50 entries after NA-cleaning"
 [1] 2 1 3 2 1 3 1 4 3 2 2 2 2 1 4 1 1 2 1 2 2 1 2 5 2 2 3 1 2 4 1 1 1 4 5 2 3 4
[39] 1 2 4 1 1 2 1 5 1 1 5 1

## 6. Work with logicals

In [45]:
# Logicals can be performed on numbers
num1 = 12
num2 = 0
num3 = 15
print("Some logical operations on numbers")
paste(num1, "&", num2, "=", num1&num2)
paste(num2, "|", num3, "=", num3|num2)
paste("!", num2, "=", !num2)

[1] "Some logical operations on numbers"

[1] "12 & 0 = FALSE"

[1] "0 | 15 = TRUE"

[1] "! 0 = TRUE"

In [48]:
# Logicals can be performed on vectors
vec = c(1, 2, 3)
print("Some logical operations on vectors")
res = c("1 2 3 < 2 = ", vec < 2) # a logical operation on a vector gets applied to all items of the vector
print(res)

[1] "Some logical operations on vectors"
[1] "1 2 3 < 2 = " "TRUE"         "FALSE"        "FALSE"

In [49]:
# Using the which(...) function
vec = c(TRUE, FALSE, FALSE, TRUE, FALSE, FALSE)
c(which(vec), "of vec are true") # return the indices in vec where it is TRUE (1,4)

[1] "1"               "4"               "of vec are true"

**Other logical operations:** `<=, >, >=, ==, !=`

## 7. Work with conditionals

### Using the `if-else` block

In [58]:
# Ask for a user input. Print 1 / m if m is not 0; print "NA" otherwise
m = as.integer(readline(prompt = "Enter a number: "))
if (m == 0) {
    print(NA)
} else { 
    paste("1 /", m, "=", 1/m) 
}

Enter a number: 0
[1] NA

### Using the `ifelse (...)` function

In [57]:
# Repeat the above block in one line
m = as.integer(readline(prompt = "Enter a number: "))
paste("1 /", m, "=", ifelse(m == 0, NA, 1/m))

Enter a number: 0

[1] "1 / 0 = NA"

In [59]:
# Remove all NA's from na_example using ifelse(cond, if-true, if-false) function
no_nas = ifelse(is.na(na_example), 0, na_example)
paste(sum(is.na(no_nas)), "number of NAs in the example")

[1] "0 number of NAs in the example"

## 8. User-defined functions

In [60]:
# Write a function for the above scenario
reciprocal = function(vec) {
    # Return the reciprocal of vector vec
    # vec can be single-valued or muti-valued vector
    ifelse(vec == 0, NA, 1/vec)
}

# Test this function on a sequence of test cases
test_case = -3:3
paste("1 /", test_case, "=", reciprocal(test_case))

[1] "1 / -3 = -0.333333333333333" "1 / -2 = -0.5"
[3] "1 / -1 = -1"                 "1 / 0 = NA"
[5] "1 / 1 = 1"                   "1 / 2 = 0.5"
[7] "1 / 3 = 0.333333333333333"

## 9. The `for` loop.

In [61]:
# Print 1+2+...+n for n ranging from 1 to 10 using for loop
for (i in 1:10) {
    n = 1:i
    print(c("Sum uptil", i, "=", sum(n)))
}

[1] "Sum uptil" "1"         "="         "1"
[1] "Sum uptil" "2"         "="         "3"
[1] "Sum uptil" "3"         "="         "6"
[1] "Sum uptil" "4"         "="         "10"
[1] "Sum uptil" "5"         "="         "15"
[1] "Sum uptil" "6"         "="         "21"
[1] "Sum uptil" "7"         "="         "28"
[1] "Sum uptil" "8"         "="         "36"
[1] "Sum uptil" "9"         "="         "45"
[1] "Sum uptil" "10"        "="         "55"

This notebook ends here.