# Summarizing with `dplyr`

Basic summarizing tools provided with the `dplyr` package.

In [10]:
# Load dependencies
library(dplyr)
library(dslabs)
data(heights)
data(murders)

## Use the `summarize` function

In [6]:
# Summarize using the `summarize` function of dplyr
df = heights %>% filter(sex == "Male") %>% summarize (average = mean(height), sd = sd(height))
df # will produce the data frame in a table format

  average  sd
1 69.31475 3.611024

In [9]:
# Access attributes using $ and [] symbols
paste("Average: ", df$average)
df["sd"]

[1] "Average:  69.3147549414356"

  sd
1 3.611024

## Use the dot operator

In [18]:
# Compute the US murder rate
rate = murders %>% summarize(mRate = sum(total) / sum(population) * 10000)
rate
paste("rate is a", class(rate))

  mRate
1 0.3034555

[1] "rate is a data.frame"

In [25]:
# Note that the rate is a data-frame -- we cannot perform numeric computations with it
# This issue can be resolved by using the dot (.) operator with a pipe
numRate = rate %>% .$mRate # since `rate` is a data-frame, its attribute can be accessed through the $ operator
numRate
paste("numRate is a", class(numRate))

[1] 0.3034555

[1] "numRate is a numeric"

## Summarize after grouping

In [29]:
group = heights %>% group_by(sex)
group %>% summarize (average = mean(height), sd = sd(height))

  sex    average  sd
1 Female 64.93942 3.760656
2 Male   69.31475 3.611024

In [33]:
group1 = murders %>% group_by(region)
# str(group1)
group1 %>% summarize (average = mean(total), sd = sd(total))

  region        average  sd
1 Northeast     163.2222 200.1935
2 South         246.7647 212.8622
3 North Central 152.3333 154.2244
4 West          147.0000 339.1015

## Sort out full tables using `arrange` function

In [34]:
# Sort the murders data frame by their population sizes
murders %>% arrange(population) %>% head()

  state                abb region        population total
1 Wyoming              WY  West          563626      5
2 District of Columbia DC  South         601723     99
3 Vermont              VT  Northeast     625741      2
4 North Dakota         ND  North Central 672591      4
5 Alaska               AK  West          710231     19
6 South Dakota         SD  North Central 814180      8

In [35]:
# Sort with highest murder totals first
murders %>% arrange(desc(total)) %>% head()

  state        abb region        population total
1 California   CA  West          37253956   1257
2 Texas        TX  South         25145561    805
3 Florida      FL  South         19687653    669
4 New York     NY  Northeast     19378102    517
5 Pennsylvania PA  Northeast     12702379    457
6 Michigan     MI  North Central  9883640    413

In [38]:
# NESTED SORTING to break ties -- sort by total murders first, then break ties by sorting by population sizes
murders %>% arrange(total, population) #%>% top_n(10) # show the first 10 entries

   state                abb region        population total
1  Vermont              VT  Northeast       625741      2
2  North Dakota         ND  North Central   672591      4
3  Wyoming              WY  West            563626      5
4  New Hampshire        NH  Northeast      1316470      5
5  Hawaii               HI  West           1360301      7
6  South Dakota         SD  North Central   814180      8
7  Maine                ME  Northeast      1328361     11
8  Montana              MT  West            989415     12
9  Idaho                ID  West           1567582     12
10 Rhode Island         RI  Northeast      1052567     16
11 Alaska               AK  West            710231     19
12 Iowa                 IA  North Central  3046355     21
13 Utah                 UT  West           2763885     22
14 West Virginia        WV  South          1852994     27
15 Nebraska             NE  North Central  1826341     32
16 Oregon               OR  West           3831074     36
17 Delaware             DE  South           897934     38
18 Minnesota            MN  North Central  5303925     53
19 Kansas               KS  North Central  2853118     63
20 Colorado             CO  West           5029196     65
21 New Mexico           NM  West           2059179     67
22 Nevada               NV  West           2700551     84
23 Arkansas             AR  South          2915918     93
24 Washington           WA  West           6724540     93
25 Connecticut          CT  Northeast      3574097     97
26 Wisconsin            WI  North Central  5686986     97
27 District of Columbia DC  South           601723     99
28 Oklahoma             OK  South          3751351    111
29 Kentucky             KY  South          4339367    116
30 Massachusetts        MA  Northeast      6547629    118
31 Mississippi          MS  South          2967297    120
32 Alabama              AL  South          4779736    135
33 Indiana              IN  North Central  6483802    142
34 South Carolina       SC  South          4625364    207
35 Tennessee            TN  South          6346105    219
36 Arizona              AZ  West           6392017    232
37 New Jersey           NJ  Northeast      8791894    246
38 Virginia             VA  South          8001024    250
39 North Carolina       NC  South          9535483    286
40 Maryland             MD  South          5773552    293
41 Ohio                 OH  North Central 11536504    310
42 Missouri             MO  North Central  5988927    321
43 Louisiana            LA  South          4533372    351
44 Illinois             IL  North Central 12830632    364
45 Georgia              GA  South          9920000    376
46 Michigan             MI  North Central  9883640    413
47 Pennsylvania         PA  Northeast     12702379    457
48 New York             NY  Northeast     19378102    517
49 Florida              FL  South         19687653    669
50 Texas                TX  South         25145561    805
51 California           CA  West          37253956   1257